<li>
	{{name}}

	<button class="change-demolish" data-id="{{id}}" data-newdemolish="{{demolish}}">
		{{#if demolish}}Demolished!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
